# Python
__pycache__/
*.py[cod]
*$py.class

env/
.venv/
venv/

# Editor
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log
search_log.csv
# credentials.json  # Uncomment jika ingin commit credentials.json untuk demo

# Python distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Mac
.AppleDouble
.LSOverride

# Other
*.tmp
*.bak
