# Python
__pycache__/
*.py[cod]
*$py.class

env/
.venv/
venv/

# Editor
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Mac
.AppleDouble
.LSOverride

# Other
*.tmp
*.bak
